.App {
  text-align: center;
}

.wrapper {
  border-style: solid;
  margin-left: 33%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 33%;
  overflow: hidden;
}

.display {
  border-style: solid;
  padding: 20px;
  margin: 5px;
  text-align: right;
}

.inputs {
  display: flex;
  height: 200px;
}

.numbers {
  border-style: solid;
  width: 70%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

.numbers button{
  appearance: none;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  transition: 0.4s;
  flex: 1 1 33.333%;
  max-width: 33.33%;
}

.operations {
  border-style: solid;
  width: 30%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

.operations button{
  appearance: none;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  transition: 0.4s;
  flex: 1 1 33.333%;
  max-width: 33.33%;
}
